{% extends 'base.html' %}
{% block header %}
<h1> Data for {{name}}</h1>
{% endblock %}

{% block content %}
{% for line in graph.lines %}
<div>
    <h3>{{line.workload.name}}</h3>
    {% for run in line.workload._cached %}
        {% for run in line.workload._cached %}
            <table>
                <h4>{{k}}</h4>
                <tr>
                    <td>Key Name</td>
                    <td>Value</td>
                </tr>
                {% for key_name, attr in run.get_stats().items() %}
                <tr>
                    <td>{{key_name}}</td>
                    <td>{{attr}}</td>
                </tr>
                {% endfor %}
        {% endfor %}
    </table>
    {% endfor %}
</dev>
{% endfor %}
{% endblock %}

